Tugas 6 - AI Keuangan.json
{
  "name": "Tugas 6 - AI Keuangan",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1472,
        160
      ],
      "id": "98b00dca-b94e-4ab3-8632-b3cc67012f1e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "LPlyiVsZi91uVHum",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1056,
        368
      ],
      "id": "7dacacf6-4d5a-4b1c-9a31-4338cb43f002",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "F4k9VzQJGJtWVHlt",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        176
      ],
      "id": "84cd4442-9291-4997-8c5c-493d0bfc411a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "5461047118",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.  \n- Skor AI: {{ $json.score }}/10 \n- Dari: {{ $('Gmail Trigger').item.json.From }}\n- Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        272
      ],
      "id": "683c4785-ce61-4e06-a1b9-bcfa92479f4a",
      "name": "Send a text message1",
      "webhookId": "ec9b8a16-d978-414a-a8f0-7ef3cf6386cd",
      "credentials": {
        "telegramApi": {
          "id": "eTZSKuz07lZOFPU7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "20448a4c-445c-436c-b093-941ff5b97568",
              "leftValue": "={{ $json.From }}",
              "rightValue": "receipts@gotagihan.gojek.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ac5a2bb5-979a-42b7-8e59-a1e0d1239e40",
              "leftValue": "={{ $json.From }}",
              "rightValue": "balebybtn@btn.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7671a9f5-9f12-4b1f-808c-e17a4d3fdee7",
              "leftValue": "={{ $json.From }}",
              "rightValue": "no-reply@spotify.com",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9d40475c-5697-4d48-b483-a84f9ae317a5",
              "leftValue": "={{ $json.From }}",
              "rightValue": "noreply@alfagift.id",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        160
      ],
      "id": "7530bcc0-5ebb-41ef-900f-7c579befcdf9",
      "name": "Cek Allowlist"
    },
    {
      "parameters": {
        "chatId": "5461047118",
        "text": "=Ada email baru dari: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        -32
      ],
      "id": "1c6eec34-6f1d-42a3-9155-d5ac7c034ac6",
      "name": "Reminder Email dari Allowlist",
      "webhookId": "88566755-816b-41f0-a665-13e4108992f6",
      "credentials": {
        "telegramApi": {
          "id": "eTZSKuz07lZOFPU7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. Jawab HANYA dengan format: 'Skor: [angka]'.\\n\\nEmail:{{ $json.snippet }}  Subject:{{ $json.Subject }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1040,
        176
      ],
      "id": "e5650077-640e-43f8-a075-daf6c9ecd73b",
      "name": "Analisa Phising"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cbc0915b-b144-4a79-9f11-35f05bd2a579",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        176
      ],
      "id": "8b562e32-29e9-43eb-a0d8-cf2dfe7d51ad",
      "name": "Cek Skor Bahaya"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.labels[1].id }}",
        "labelIds": [
          "Label_8243039509096808212"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -272,
        80
      ],
      "id": "ee2a1781-dbe0-4a22-b900-6f21c7546491",
      "name": "Add label to message",
      "webhookId": "2089cf72-3ce4-4bd5-a2dd-cdd27f300eb4",
      "credentials": {
        "gmailOAuth2": {
          "id": "LPlyiVsZi91uVHum",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Cek Allowlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisa Phising",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Cek Skor Bahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Allowlist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisa Phising",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Phising": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Skor Bahaya": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "38b8575a-2eb6-4930-83ad-dfc8e9ae765c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f045ba6db209a7fbe52bca62796be847c82e1838f5803d1b76d40f5d083c9ed8"
  },
  "id": "Pj14EP7TFsknr6vR",
  "tags": []
}