Tugas 2 - AI Keuangan.json
{
  "name": "Tugas 2 - AI Keuangan",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "revalwijaya146@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5ca1dd8e-bcb6-4511-b15f-8a07e016bd33"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alfagift"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3821a0b3-7e66-4ce4-ab31-f2bb22b2ec8a",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "ririhandini0@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gopay"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1a4ae45e-8b59-4a4a-ad6e-def7aafab6a3",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "muha23121si@student.nurulfikri.ac.id",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        176
      ],
      "id": "a12cd886-2d72-4343-8f54-205231ff625e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a14e5f53-80a5-4890-b41c-e8d09fd29230",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "4d04ee22-2da3-4bed-bf92-d4c15d9dbc1b",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Harga\\s*Rp([\\d\\.]+)/)?.[1].replace(/\\.g,'')} }",
              "type": "string"
            },
            {
              "id": "a1e7f247-6565-4fcc-a513-a795f554fafd",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Nominal\\s*(.*?)\\s*Waktu/s)?.[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        384
      ],
      "id": "676e06f4-86e6-4fd1-9c8a-6e09fd923efa",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        176
      ],
      "id": "b7143359-40ad-4026-9ecc-49b9c3bda8a5",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Oa4wgXejfOdg79JFdZPsyxlqb-2JXwJXuav0-84SuTM/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Laporan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Oa4wgXejfOdg79JFdZPsyxlqb-2JXwJXuav0-84SuTM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Jumlah": "={{ $json.Jumlah }}",
            "Produk": "={{ $json.Nominal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jumlah",
              "displayName": "Jumlah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        192
      ],
      "id": "5f913d7d-e215-474c-b570-b5ac75991a62",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HCvYA939Bd1tmgGU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4933e917-e712-4ee6-aac7-8f34d1d19d22",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "53e0afcd-fdcc-413b-9d6f-596ec707fed1",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "3c00810d-eeb4-4045-8945-4036df00e7b4",
              "name": "Nominal",
              "value": "Gopay",
              "type": "string"
            },
            {
              "id": "de096f6c-9086-4f35-9963-5b0aa299ca4d",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "5565de30-9d3f-4923-a022-720a7bfb938e",
      "name": "Gopay"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af9530c9-4d4e-47a6-9e15-6f7aa9614bca",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "4f2802e8-fd30-4181-9db3-301e51fc9bd9",
              "name": "Jumlah",
              "value": "=={{ $json.textPlain?.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') || '' }}",
              "type": "string"
            },
            {
              "id": "37c18f15-6418-4a67-ad9c-942a6e1bfaa9",
              "name": "Nominal",
              "value": "Alfagift",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "dfaf0f55-cfde-44c3-b136-acfb3a7550c0",
      "name": "Alfagift"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -368,
        192
      ],
      "id": "fd993856-01aa-41f5-a15e-d6ec8dccf79f",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "PyaSqjjCtaCRmIzW",
          "name": "IMAP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Alfagift",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gopay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gopay": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Alfagift": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e356ed18-7f17-4311-9166-ca1e30096930",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f045ba6db209a7fbe52bca62796be847c82e1838f5803d1b76d40f5d083c9ed8"
  },
  "id": "X0lPsZ0bUthTJ0of",
  "tags": []
}